# Base9 - alacritty color config
colors:
  # Default colors
  primary:
    background: '0x{{background.hex}}'
    foreground: '0x{{foreground.p100.hex}}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '0x{{background.p100.hex}}'
    cursor: '0x{{foreground.p100.hex}}'

  # Normal colors
  normal:
    black:   '0x{{ansi.black.hex}}'
    red:     '0x{{ansi.red.hex}}'
    green:   '0x{{ansi.green.hex}}'
    yellow:  '0x{{ansi.yellow.hex}}'
    blue:    '0x{{ansi.blue.hex}}'
    magenta: '0x{{ansi.magenta.hex}}'
    cyan:    '0x{{ansi.cyan.hex}}'
    white:   '0x{{ansi.white.hex}}'

  # Bright colors
  bright:
    black:   '0x{{ansi.bright_black.hex}}'
    red:     '0x{{ansi.bright_red.hex}}'
    green:   '0x{{ansi.bright_green.hex}}'
    yellow:  '0x{{ansi.bright_yellow.hex}}'
    blue:    '0x{{ansi.bright_blue.hex}}'
    magenta: '0x{{ansi.bright_magenta.hex}}'
    cyan:    '0x{{ansi.bright_cyan.hex}}'
    white:   '0x{{ansi.bright_white.hex}}'

draw_bold_text_with_bright_colors: false