{{#hex}}
# Base9 - alacritty color config
colors:
  # Default colors
  primary:
    background: '0x{{background}}'
    foreground: '0x{{foreground.p100}}'

  # Colors the cursor will use if `custom_cursor_colors` is true
  cursor:
    text: '0x{{background.p100}}'
    cursor: '0x{{foreground.p100}}'

  # Normal colors
  {{#ansi}}
  normal:
    black:   '0x{{black}}'
    red:     '0x{{red}}'
    green:   '0x{{green}}'
    yellow:  '0x{{yellow}}'
    blue:    '0x{{blue}}'
    magenta: '0x{{magenta}}'
    cyan:    '0x{{cyan}}'
    white:   '0x{{white}}'

  # Bright colors
  bright:
    black:   '0x{{bright_black}}'
    red:     '0x{{bright_red}}'
    green:   '0x{{bright_green}}'
    yellow:  '0x{{bright_yellow}}'
    blue:    '0x{{bright_blue}}'
    magenta: '0x{{bright_magenta}}'
    cyan:    '0x{{bright_cyan}}'
    white:   '0x{{bright_white}}'
  {{/ansi}}

draw_bold_text_with_bright_colors: false
{{/hex}}