- '#{{bg_d_hex}}'
- '#{{bg_hex}}'
- '#{{c0_hex}}'
- '#{{c0_h_hex}}'
- '#{{c1_hex}}'
- '#{{c2_hex}}'
- '#{{c3_hex}}'
- '#{{c4_hex}}'
- '#{{c5_hex}}'
- '#{{c6_hex}}'
- '#{{c7_hex}}'

- '#{{bg_d_hex}}'
- '#{{bg_hex}}'
- '#{{c0_hex}}'
- '#{{c0_h_hex}}'
- '#{{c1_hex}}'
- '#{{c2_hex}}'
- '#{{c3_hex}}'
- '#{{c4_hex}}'
- '#{{c5_hex}}'
- '#{{c6_hex}}'
- '#{{c7_hex}}'