{{#hex}}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24">
  <rect x="0" y="0"  width="8" height="8" fill="#{{background}}" />
  <rect x="8" y="0"  width="8" height="8" fill="#{{c1.p100}}" />
  <rect x="16" y="0"  width="8" height="8" fill="#{{c2.p100}}" />
  <rect x="0"  y="8" width="8" height="8" fill="#{{c3.p100}}" />
  <rect x="8" y="8" width="8" height="8" fill="#{{c4.p100}}" />
  <rect x="16" y="8" width="8" height="8" fill="#{{c5.p100}}" />
  <rect x="0"  y="16" width="8" height="8" fill="#{{c6.p100}}" />
  <rect x="8" y="16" width="8" height="8" fill="#{{c7.p100}}" />
  <rect x="16" y="16" width="8" height="8" fill="#{{c0.p100}}" />
</svg>
{{/hex}}