preferenceManager.storage.setItems({
  "/hterm/profiles/default/color-palette-overrides": [{{#ansi}}
    '#{{c0.hex}}',
    '#{{c1.hex}}',
    '#{{c2.hex}}',
    '#{{c3.hex}}',
    '#{{c4.hex}}',
    '#{{c5.hex}}',
    '#{{c6.hex}}',
    '#{{c7.hex}}',
    '#{{c8.hex}}',
    '#{{c9.hex}}',
    '#{{ca.hex}}',
    '#{{cb.hex}}',
    '#{{cc.hex}}',
    '#{{cd.hex}}',
    '#{{ce.hex}}',
    '#{{cf.hex}}',
  {{/ansi}}],
  "/hterm/profiles/default/foreground-color": "#{{foreground.p100.hex}}",
  "/hterm/profiles/default/background-color": "#{{background.hex}}",
  "/hterm/profiles/default/cursor-color": "#{{cursor.p100.hex}}",
  })
