[Scheme]
Name=Base9
ColorForeground={{foreground}}
ColorBackground={{background}}
ColorCursor=x
ColorBoldIsBright=FALSE
ColorPalette={{
ansi_0}};{{
ansi_1}};{{
ansi_2}};{{
ansi_3}};{{
ansi_4}};{{
ansi_5}};{{
ansi_6}};{{
ansi_7}};{{
ansi_8}};{{
ansi_9}};{{
ansi_a}};{{
ansi_b}};{{
ansi_c}};{{
ansi_d}};{{
ansi_e}};{{
ansi_f}};{{
