[Scheme]
Name=Base9
ColorForeground=#{{foreground.p100.hex}}
ColorBackground=#{{background.hex}}
ColorCursor=x
ColorBoldIsBright=FALSE
ColorPalette=#{{
ansi.0.hex}};#{{
ansi.1.hex}};#{{
ansi.2.hex}};#{{
ansi.3.hex}};#{{
ansi.4.hex}};#{{
ansi.5.hex}};#{{
ansi.6.hex}};#{{
ansi.7.hex}};#{{
ansi.8.hex}};#{{
ansi.9.hex}};#{{
ansi.a.hex}};#{{
ansi.b.hex}};#{{
ansi.c.hex}};#{{
ansi.d.hex}};#{{
ansi.e.hex}};#{{
ansi.f.hex}};
