{{#hex}}
[Scheme]
Name=Base9
ColorForeground=#{{foreground.p100}}
ColorBackground=#{{background}}
ColorCursor=x
ColorBoldIsBright=FALSE
{{#ansi}}
ColorPalette=#{{0}};#{{1}};#{{2}};#{{3}};#{{4}};#{{5}};#{{6}};#{{7}};#{{8}};#{{9}};#{{a}};#{{b}};#{{c}};#{{d}};#{{e}};#{{f}};
{{/ansi}}
{{/hex}}