[Scheme]
Name=Base9
ColorForeground=#{{foreground.p100.hex}}
ColorBackground=#{{background.hex}}
{{#ansi}}
ColorPalette=#{{c0.hex}};#{{c1.hex}};#{{c2.hex}};#{{c3.hex}};#{{c4.hex}};#{{c5.hex}};#{{c6.hex}};#{{c7.hex}};#{{c8.hex}};#{{c9.hex}};#{{ca.hex}};#{{cb.hex}};#{{cc.hex}};#{{cd.hex}};#{{ce.hex}};#{{cf.hex}};
{{/ansi}}
