[Scheme]
Name=Base11-{{scheme-name}}
ColorForeground=#{{base05-hex}}
ColorBackground=#{{base00-hex}}
ColorPalette=#{{
bg_hex  }};#{{
cr_hex  }};#{{
cg_hex  }};#{{
cy_hex  }};#{{

cb_hex  }};#{{
cm_hex  }};#{{
cc_hex  }};#{{
c0_hex  }};#{{

c0_d_hex}};#{{
cr_h_hex}};#{{
cg_h_hex}};#{{
cy_h_hex}};#{{

cb_h_hex}};#{{
cm_h_hex}};#{{
cc_h_hex}};#{{
c0_h_hex}};#{{
